<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crowns</title>
    <link rel="shortcut icon" type="image" href="{{ url_for('static', filename='images/cake.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="all-content">
        <nav class="navbar navbar-expand-md" id="navbar">
            <a class="navbar-brand" href="#" id="logo"><img src="{{ url_for('static', filename='images/cake.jpeg') }}" alt="" width="50px">Delicious Cake House</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span><img src="{{ url_for('static', filename='images/menu.png') }}" alt="" width="30px"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <!-- dropdown -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Products </a>
                        <div class="dropdown-menu">
                            <a href="{{ url_for('balloons') }}" class="dropdown-item">Balloons</a>
                            <a href="{{ url_for('bdaycards') }}" class="dropdown-item">Bday Cards</a>
                            <a href="{{ url_for('cakes') }}" class="dropdown-item">Cakes</a>
                            <a href="{{ url_for('candles') }}" class="dropdown-item">Candles</a>
                            <a href="{{ url_for('crowns') }}" class="dropdown-item">Crowns</a>
                            <a href="{{ url_for('sash') }}" class="dropdown-item">Sash Designs</a>
                        </div>
                    </li>
                    <!-- dropdown -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="icons">
                <img src="{{ url_for('static', filename='images/heart.png') }}" alt="" width="20px">
                <img src="{{ url_for('static', filename='images/download.png') }}" alt="" width="20px">
                <img src="{{ url_for('static', filename='images/add.png') }}" alt="" width="24px">
            </div>
        </nav>
        <section id="product-cards" data-aos="fade-up" data-aos-duration="1500">
            <div class="container">
                <h1>Our Products</h1>
                <div class="row" style="margin-top:50px;">
                    {% for product in products %}
                    <div class="col-md-3 py-3 py-md-0">
                        <div class="card">
                            <div class="overlay">
                                <button type="button" class="btn btn-secondary" title="Quick View"><i><img src="{{ url_for('static', filename='images/views.png') }}" alt="" width="30px"></i></button>
                                <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i><img src="{{ url_for('static', filename='images/heart.png') }}" alt="" width="30px"></i></button>
                                <button type="button" class="btn btn-secondary" title="Add to Cart"><i><img src="{{ url_for('static', filename='images/add.png') }}" alt="" width="30px"></i></button>
                            </div>
                            <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="">
                            <div class="card-body">
                                <h3>{{ product.name }}</h3>
                                <div class="star">
                                    <i class="bx bxs-star checked"></i>
                                    <i class="bx bxs-star checked"></i>
                                    <i class="bx bxs-star checked"></i>
                                    <i class="bx bxs-star checked"></i>
                                    <i class="bx bxs-star"></i>
                                </div>
                                <h6>${{ product.price }} <span>
                                    <form action="{{ url_for('checkout') }}" method="post">
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <button type="submit">Buy Now</button>
                                    </form>
                                </span></h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    <a href="#" class="arrow"><i><img src="{{ url_for('static', filename='images/up-arrow.png') }}" alt="" width="50px"></i></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>