<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Cake House</title>
    <link rel="shortcut icon" type="image" href="{{ url_for('static', filename='images/cake.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- bootstrap links -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- bootstrap links -->
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- fonts links -->
    <!-- icons links -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- icons links -->
    <!-- animation links -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- animation links -->
</head>
<body>
    <div class="all-content">
        <!-- navbar -->
        <nav class="navbar navbar-expand-md" id="navbar">
            <!-- Brand -->
            <a class="navbar-brand" href="{{ url_for('index') }}" id="logo"><img src="{{ url_for('static', filename='images/cake.jpeg') }}" alt="" width="50px">Delicious Cake House</a>
    
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span><img src="{{ url_for('static', filename='images/menu.png') }}" alt="" width="30px"></span>
            </button>
        
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <!-- dropdown -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Products </a>
                        <div class="dropdown-menu">
                            <a href="{{ url_for('balloons') }}" class="dropdown-item">Balloons</a>
                            <a href="{{ url_for('bdaycards') }}" class="dropdown-item">Bday Cards</a>
                            <a href="{{ url_for('cakes') }}" class="dropdown-item">Cakes</a>
                            <a href="{{ url_for('candles') }}" class="dropdown-item">Candles</a>
                            <a href="{{ url_for('crowns') }}" class="dropdown-item">Crowns</a>
                            <a href="{{ url_for('sash') }}" class="dropdown-item">Sash Designs</a>
                        </div>
                    </li>
                    <!-- dropdown -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="icons">
                <img src="{{ url_for('static', filename='images/heart.png') }}" alt="" width="20px">
                <img src="{{ url_for('static', filename='images/download.png') }}" alt="" width="20px">
                <a href="#"><img src="{{ url_for('static', filename='images/add.png') }}" alt="" width="24px"></a>
            </div>
        </nav>
        <!-- navbar end -->

        <!-- home section -->
        <div class="home">
            <div class="content" data-aos="zoom-out-right">
                <h3>Delicious
                    <br>Cake House
                </h3>
                <h2>Category <span class="changecontent"></span></h2>
                <a href="#" class="btn">Order Now</a>
            </div>
        </div>
        <!-- home section end -->

        <!-- top cards -->
        <div class="container" id="box" data-aos="fade-up" data-aos-duration="1500">
            <div class="row">
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="{{ url_for('static', filename='images/cb.jpeg') }}" alt="">
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="{{ url_for('static', filename='images/s1.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-md-4 py-3 py-md-0">
                    <div class="card">
                        <img src="{{ url_for('static', filename='images/card.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- top cards end -->

        <!-- banner -->
        <div class="banner" data-aos="fade-up" data-aos-duration="1500">
            <div class="content">
                <h3>Delicious Cake</h3>
                <h2>5-10% OFF</h2>
                <div id="btnorder"><button>Order Now</button></div>
            </div>
        </div>
        <!-- banner end -->

        <!-- about -->
        <div class="container" id="about" data-aos="fade-up" data-aos-duration="1500">
            <h1>ABOUT US</h1>
            <div class="row">
                <div class="col-md-6 py-3 py-md-0">
                    <div class="card">
                        <img src="{{ url_for('static', filename='images/cb.jpeg') }}" alt="">
                    </div>
                </div>
                <div class="col-md-6 py-3 py-md-0">
                    <P> Welcome to Delicious Cake House...</P>
                    <p>Founders: Nikita Kadam, Shravani Bhagwat.</p>
                    <p>"Our mission is to create cakes that not only taste amazing but also add a special touch to your celebrations. Whether it's a birthday, wedding, anniversary, or any special occasion, we aim to make your moments sweeter with our handcrafted cakes."</p>
                </div>
            </div>
        </div>
        <!-- about -->

        <!-- contact -->
        <div class="container" id="contact" data-aos="fade-up" data-aos-duration="1500">
            <h1>CONTACT US</h1>
            <div class="row">
                <div class="col-md-4 py-1 py-md-0">
                    <div class="form-group">
                        <input type="text" class="form-control" id="usr" placeholder="Name">
                    </div>
                </div>
                <div class="col-md-4 py-1 py-md-0">
                    <div class="form-group">
                        <input type="email" class="form-control" id="eml" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-4 py-1 py-md-0">
                    <div class="form-group">
                        <input type="number" class="form-control" id="phn" placeholder="Phone">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" placeholder="Message"></textarea>
            </div>
            <div id="messagebtn"><button>Send Message</button></div>
        </div>
        <!-- contact end -->

        <!-- footer -->
        <footer id="footer" data-aos="fade-up" data-aos-duration="1500">
            <h1 class="text-center">Delicious Cake Shop</h1>
            <div class="icons text-center">
                <i class="bx bxl-facebook"></i>
                <i class="bx bxl-google"></i>
                <i class="bx bxl-instagram"></i>
            </div>
            <div class="copyright text-center">
                &copy; Copyright <strong>Delicious Cake Shop</strong>. All Rights Reserved
            </div>
            <div class="credite text-center">
                Designed By <a href="#"><span>NS</span></a>
            </div>
        </footer>
        <!-- footer -->

        <a href="#" class="arrow"><i><img src="{{ url_for('static', filename='images/up-arrow.png') }}" alt="" width="50px"></i></a>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
